.body {
  width: 100vw;
  height: 100vh;
}

.navigation-bar {
  height: 60px;
  background-color: #ada294;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;

}

.background-img {
  width: 100%;
  height: 680px;
  background-image: url(./img/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-box {
  height: 250px;
  width: 700px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;

  @media screen and (max-width: 760px) {
    width: 500px;
    height: 200px;
  }

  @media screen and (max-width: 580px) {
    width: 350px;
    height: 170px;
  }

  @media screen and (max-width: 430px) {
    width: 250px;
    height: 100px;
  }

}

.shop-btn {
  height: 50px;
  width: 200px;
  background-color: rgba(253, 190, 72, 0.966);
  border-radius: 30px;
  cursor: pointer;

  @media screen and (max-width: 760px) {
    height: 40px;
    width: 150px;
  }

  @media screen and (max-width: 580px) {
    height: 30px;
    width: 120px;
  }

}

.shop-btn:hover {
  background-color: rgb(255, 166, 0);
  cursor: pointer;
}

.title {
  font-size: 50px;
  font-weight: 600;
  padding: 10px;

  @media screen and (max-width: 760px) {
    font-size: 35px;
  }

  @media screen and (max-width: 580px) {
    font-size: 25px;
  }

  @media screen and (max-width: 430px) {
    font-size: 15px;
  }
}

.description {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}

.products-list {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.cart-box {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(223, 119, 44, 0.589);
  z-index: 2;
}

.cart {
  height: 100vh;
  width: 400px;
  position: fixed;
  background-color: rgb(226, 225, 225);
  top: 0;
  right: 0;
  z-index: 3;

  @media screen and (max-width: 500px) {
    height: 100vh;
    width: 100vw;
  }

  @media screen and (max-width: 300px) {
    height: 100vh;
    width: 100vw;
  }
}

.cart-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  height: 28px;
  width: 28px;
  background-color: black;
  color: white;
  border-radius: 20%;
  font-size: 20px;
  font-weight: 700;
  margin: 14px 14px 0 14px
}

.clear-cart-btn {
  margin-top: 7px;
  height: 50px;
  width: 200px;
  background-color: rgb(230, 154, 14);
}

.cart-img {
  height: 85px;
  width: 95px;
  background-size: cover;
  background-position: center;
}

.cart-items-added {
  height: 100%;
  justify-content: space-between;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.items-selected {
  align-items: center;
  margin: 12px 0;
  background-color: #fff;
  padding: 8px 14px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-radius: 5px;
}

.cart-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-title,
.clear-cart,
.total-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-title {
  height: 40px;
}

.menu-cart {
  position: relative;
  cursor: pointer;
}

.items-number-cart {
  height: 21px;
  width: 21px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: -5px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  color: white;
}

.change-quantity {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bin-btn {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.cart-title,
.cart-price {
  margin: 0;
}

.cart-list {
  padding: 12px;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.change-quantitiy-arrow {
  cursor: pointer;
}

.logo {
  @media screen and (max-width: 500px) {
    transform: scale(0.8);
  }

  @media screen and (max-width: 360px) {
    transform: scale(0.6);
  }
}