.products-img {
    height: 190px;
    width: 270px;
    display: flex;
    position: relative;
}

.price {
    color: orange;
    padding-top: 10px;
}


.product-title {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 300px;
    padding-bottom: 10px;
    position: relative;
}

.add-cart-btn {
    height: 40px;
    width: 170px;
    background-color: orange;
    border-style: hidden;
    font-weight: 700;
    position: absolute;
    top: 70%;
    right: 0;
    transform: translateX(101%);
    transition: 0.2s all ease-in-out;
}

.show_add_button {
    transform: translateX(0);
    transition: 0.2s all ease-in-out;
}

.product_image_container {
    position: relative;
    overflow: hidden;
    filter: brightness(70%);
}

.product_image_container:hover {
    filter: brightness(100%);
}


